<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>  
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><% if user.id == current_user.id %>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></td>
            <% end %>
        <td><% if user.id == current_user.id || user_signed_in? == current_user.admin %>
                <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload Image', photos_path %>