<p id="notice"><%= notice %></p>

<p>
  About <%= @user.username %>:
   <em><%= @user.description %></em>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


 <p>
  <% @user.photos.each do |photo| %>
      <%= photo.user.username %>
      <%= image_tag(photo.pic, :width =>300) %>
      <%= link_to 'Show', photo %>
  <% end %>
 <br>
</p>
<p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Back Home', users_path %>
<br><br>
<%= link_to 'Add New Photo', new_photo_path %>
</p>