<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@image.img, :width => 300) if image.img.present? %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user.user_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>